body{
    margin:0;
    padding:0;
    
    background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    font-family: 'Varela', sans-serif;
}

#homepage{
    background-color: white;
    margin: auto;
    width:650px;
    margin-top:250px;
    height:500px;
    border-radius: 5px;
}

#content{
    padding:55px;
}

.inputfield input{
    border: 1px solid #304352;
    height:55px;
    width:60%;
    font-size: 20px;
    border-radius:2px;
    padding: 8px;
}

#submitButton{
    cursor: -webkit-grabbing; cursor: grabbing;
    width:150px;
    margin-top:25px;
    padding: 12px 14px;
    font-size: 16px;
    border: 1px solid 	#282828;
    color:white;
    background-color: 	#282828;
    border-radius: 25px;
}

#teacherLP{
    text-align: center;
    width: 1200px;
    margin: auto;
    margin-top:300px;
    font-size:20px;
}

#teacherLP h1{
    font-size:48px;
    letter-spacing: 5px;
    color:whitesmoke;
}

#option{
    margin: auto;
}

.options{
    width:31%;
    float:left;
    background-color:whitesmoke;
    margin-left:24px;
}

#option a{
    text-decoration: none;
    color: black;
}

#logout{
    width:93%;
    margin: auto;
    background-color:whitesmoke;
}

#logout h4{
    padding:10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7d2cc;
    height:75px;
}

nav li{
    float: left;
    height: 75px;
    border-right: 1.5px solid #304352;
}

nav li a {
    margin-top: 10px;
    display: block;
    color: #304352;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
